html{
    font-family: "Calibri Light", sans-serif;
     }

/* Header style */
header{
    border-radius: 30px;
    background-image: url("../Images/bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    font-size: 20px;
    color: white;
    text-align: center;
}

section{

}
.nav1 {
    border-radius: 25px;
    float: left;
    width: 20%;
    height: 500px;
    background-image: url('../Images/img_3.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

/* Side navigation design using "nav-menu" class */

.nav1 {
  position: relative;
  z-index: 0;
  overflow-x: auto;
}


/* Sidebar navigation links */
.nav1 a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* change color on mouse hover */
.nav1 a:hover {
  background-color: #ddd;
  color: black;
}

/* Navigation pane list style */
OL{
}

li{
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Content section style */

p {
    font-family: "Calibri Light", sans-serif;
    font-size: 18px;
}
.art {
    border-radius: 25px;
    float: left;
    padding: 20px;
    width: 74%;
    background-color: azure;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow: scroll;
}

/* PREV NEXT buttons */
#back_next{
    float: left;
    position: fixed;
    bottom: 5px;
    opacity: 0.5;
}

#back_next img:hover {
    opacity: 10.0;
}


.certificate{
    margin: 0;
    padding: 0;
}



@media screen and (max-width: 800px) {
  .art, .nav1 {
    width: 100%;
  }