html{
    /*font-family: "Calibri Light", sans-serif; */
    -webkit-text-size-adjust: 100%;
     }

/* Header style */
header{
    font-family: "Calibri Light", sans-serif;
    border-radius: 30px;
    background-image: url("../Images/bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    font-size: 1.5vw;
    color: white;
    text-align: center;
}

section{
    width: 100%;
}
.nav1 {
    font-family: "Book Antiqua", serif;
    border-radius: 25px;
    float: left;
    width: 25%;
    height: 500px;
    background-image: url('../Images/img_3.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

/* Side navigation design using "nav-menu" class */

.nav1 {
  position: relative;
  z-index: 0;
  overflow-x: auto;
}


/* Sidebar navigation links */
.nav1 a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* change color on mouse hover */
.nav1 a:hover {
  background-color: #ddd;
  color: black;
}

/* Navigation pane list style */
OL{
}

li{
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Content section style */

p {

    font-size: 18px;

}
.art {
    text-align:justify;
    line-height: 1.6;
    font-family: "Book Antiqua", serif;
    border-radius: 25px;
    float: left;
    padding: 0px;
    width: 75%;
    background-color: azure;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow: scroll;

}

/* PREV NEXT buttons */
#back_next{
    float: left;
    position: fixed;
    bottom: 5px;
    opacity: 0.5;
}

#back_next img:hover {
    opacity: 10.0;
}


.certificate{
    margin: 0;
    padding: 0;
}


#maininfo1{
    padding: 20px;

}

@media screen and (max-width: 1200px) {
    .art, .nav1 {
        width: 100%;
    }

     table {
    border: 0;
         width: 90%;
  }
}